<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_battle_select_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{1,187},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_battle_select_frame_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,91}</string>
                <key>spriteSourceSize</key>
                <string>{100,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_battle_select_frame_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,91}</string>
                <key>spriteSourceSize</key>
                <string>{100,91}</string>
                <key>textureRect</key>
                <string>{{1,94},{100,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Battle.png</string>
            <key>size</key>
            <string>{102,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e1afe1efa15f1d8a34ef08e3adb5f35:9625df9aa181a2c56fca41280898c900:337b8497753538ba22e96bab2dbea5ad$</string>
            <key>textureFileName</key>
            <string>Battle.png</string>
        </dict>
    </dict>
</plist>
