<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_main_page_bg_exploration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,127}</string>
                <key>spriteSourceSize</key>
                <string>{161,127}</string>
                <key>textureRect</key>
                <string>{{1,156},{161,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_bottom_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,153}</string>
                <key>spriteSourceSize</key>
                <string>{720,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{841,121},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{112,102}</string>
                <key>textureRect</key>
                <string>{{164,156},{112,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_box_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{56,35}</string>
                <key>textureRect</key>
                <string>{{710,242},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_exploration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,113}</string>
                <key>spriteSourceSize</key>
                <string>{98,113}</string>
                <key>textureRect</key>
                <string>{{278,156},{98,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_exploration_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{53,32}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{599,253},{53,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_guild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{488,156},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_guild_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{710,206},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,95}</string>
                <key>spriteSourceSize</key>
                <string>{67,95}</string>
                <key>textureRect</key>
                <string>{{584,156},{67,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_hero_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{654,250},{54,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,126}</string>
                <key>spriteSourceSize</key>
                <string>{115,126}</string>
                <key>textureRect</key>
                <string>{{723,1},{115,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_home_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{56,35}</string>
                <key>textureRect</key>
                <string>{{774,173},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,87}</string>
                <key>spriteSourceSize</key>
                <string>{108,87}</string>
                <key>textureRect</key>
                <string>{{378,156},{108,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_btn_map_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{653,214},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_arena.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{840,86},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_arena_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,18}</string>
                <key>spriteSourceSize</key>
                <string>{53,18}</string>
                <key>textureRect</key>
                <string>{{302,271},{53,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{653,156},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_camping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,45}</string>
                <key>spriteSourceSize</key>
                <string>{30,45}</string>
                <key>textureRect</key>
                <string>{{840,1},{30,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_camping_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,17}</string>
                <key>spriteSourceSize</key>
                <string>{34,17}</string>
                <key>textureRect</key>
                <string>{{844,271},{34,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_dungeon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{561,253},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_dungeon_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,17}</string>
                <key>spriteSourceSize</key>
                <string>{88,17}</string>
                <key>textureRect</key>
                <string>{{378,245},{88,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_hall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,29}</string>
                <key>spriteSourceSize</key>
                <string>{46,29}</string>
                <key>textureRect</key>
                <string>{{512,252},{46,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_hall_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,18}</string>
                <key>spriteSourceSize</key>
                <string>{53,18}</string>
                <key>textureRect</key>
                <string>{{357,271},{53,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_land.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{766,208},{43,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_land_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,18}</string>
                <key>spriteSourceSize</key>
                <string>{71,18}</string>
                <key>textureRect</key>
                <string>{{164,260},{71,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_market.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{468,252},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_market_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,17}</string>
                <key>spriteSourceSize</key>
                <string>{35,17}</string>
                <key>textureRect</key>
                <string>{{844,252},{35,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,31}</string>
                <key>spriteSourceSize</key>
                <string>{62,31}</string>
                <key>textureRect</key>
                <string>{{710,173},{62,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_pub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{811,208},{39,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_pub_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,17}</string>
                <key>spriteSourceSize</key>
                <string>{35,17}</string>
                <key>textureRect</key>
                <string>{{237,260},{35,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{766,254},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_tower_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,18}</string>
                <key>spriteSourceSize</key>
                <string>{54,18}</string>
                <key>textureRect</key>
                <string>{{412,264},{54,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{840,48},{33,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_build_wall_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,17}</string>
                <key>spriteSourceSize</key>
                <string>{35,17}</string>
                <key>textureRect</key>
                <string>{{841,161},{35,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_frame_bgname.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,42}</string>
                <key>spriteSourceSize</key>
                <string>{116,42}</string>
                <key>textureRect</key>
                <string>{{723,129},{116,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{830,180},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_main_page_icon_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{808,254},{34,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainCity.png</string>
            <key>size</key>
            <string>{880,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e83442cfbaa235965aded4e0b90c8ca:e1fef1adfb2bf5a5617d97b823018254:e9ea51a5fcd61b18d5f0b1ec9ccf3edc$</string>
            <key>textureFileName</key>
            <string>MainCity.png</string>
        </dict>
    </dict>
</plist>
