<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,59}</string>
                <key>spriteSize</key>
                <string>{85,129}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,60}</string>
                <key>spriteSize</key>
                <string>{87,127}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{88,1},{87,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,60}</string>
                <key>spriteSize</key>
                <string>{87,125}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{1,132},{87,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,61}</string>
                <key>spriteSize</key>
                <string>{83,125}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{90,132},{83,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,60}</string>
                <key>spriteSize</key>
                <string>{87,125}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{1,132},{87,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,60}</string>
                <key>spriteSize</key>
                <string>{87,127}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{88,1},{87,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1001.png</string>
            <key>size</key>
            <string>{176,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8933daa8d76618c358e9c628c6cafd82:0abe1d22dc878a8b0a57a2ea27d169f6:90d709d121983a5508ba3f2396d30f68$</string>
            <key>textureFileName</key>
            <string>1001.png</string>
        </dict>
    </dict>
</plist>
