<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,58}</string>
                <key>spriteSize</key>
                <string>{129,119}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{271,126},{129,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,59}</string>
                <key>spriteSize</key>
                <string>{127,119}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{132,380},{127,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,64}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{1,309},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{115,121}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{531,122},{115,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,58}</string>
                <key>spriteSize</key>
                <string>{147,121}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{287,1},{147,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{149,69}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{525,366},{149,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,59}</string>
                <key>spriteSize</key>
                <string>{127,119}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{402,124},{127,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,85}</string>
                <key>spriteSize</key>
                <string>{125,161}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,95}</string>
                <key>spriteSize</key>
                <string>{131,143}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{1,164},{131,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{106,75}</string>
                <key>spriteSize</key>
                <string>{157,123}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{128,1},{157,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,49}</string>
                <key>spriteSize</key>
                <string>{155,109}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{436,1},{155,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,58}</string>
                <key>spriteSize</key>
                <string>{127,119}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{396,247},{127,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,59}</string>
                <key>spriteSize</key>
                <string>{127,119}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{265,372},{127,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,58}</string>
                <key>spriteSize</key>
                <string>{127,119}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{396,368},{127,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,58}</string>
                <key>spriteSize</key>
                <string>{127,119}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{525,245},{127,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,58}</string>
                <key>spriteSize</key>
                <string>{127,119}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{396,368},{127,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,58}</string>
                <key>spriteSize</key>
                <string>{127,119}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{396,247},{127,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,59}</string>
                <key>spriteSize</key>
                <string>{129,119}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{134,259},{129,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,54}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{271,247},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,51}</string>
                <key>spriteSize</key>
                <string>{135,131}</string>
                <key>spriteSourceSize</key>
                <string>{493,415}</string>
                <key>textureRect</key>
                <string>{{134,126},{135,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1002.png</string>
            <key>size</key>
            <string>{675,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1f12cd5c71a39fefe33c2ea1944ce45:aa71765206d0d48c5fb803d8161e2e76:8f09b88284f036e74da1cb6e13e99115$</string>
            <key>textureFileName</key>
            <string>1002.png</string>
        </dict>
    </dict>
</plist>
