<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1401,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{118,134}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{477,139},{118,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{118,134}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{481,1},{118,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{118,134}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{491,275},{118,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{100,126}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1297,129},{100,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{100,126}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1281,379},{100,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{100,126}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1383,379},{100,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{100,132}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{491,411},{100,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{100,132}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{853,269},{100,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{102,132}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{755,403},{102,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{112,136}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{363,139},{112,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{94,124}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1399,253},{94,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{110,134}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{601,1},{110,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{112,136}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{367,1},{112,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{112,142}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{121,289},{112,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{118,142}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1,147},{118,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{118,142}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1,291},{118,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{96,126}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{363,413},{96,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-1}</string>
                <key>spriteSize</key>
                <string>{100,128}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1171,263},{100,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{100,128}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1195,131},{100,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{110,130}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1073,1},{110,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{110,130}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{955,267},{110,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1401,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,2}</string>
                <key>spriteSize</key>
                <string>{112,132}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{835,135},{112,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{949,135},{130,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1079,133},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{132,130}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{713,1},{132,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{124,132}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{611,273},{124,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{124,136}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{237,145},{124,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{118,134}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{597,137},{118,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{110,124}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1273,261},{110,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{104,128}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{625,407},{104,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{110,126}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1289,1},{110,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,2}</string>
                <key>spriteSize</key>
                <string>{112,132}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{845,1},{112,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{102,130}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{889,403},{102,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{102,128}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1185,1},{102,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{102,130}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1067,267},{102,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{124,136}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{241,1},{124,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{126,134}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{363,277},{126,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{126,138}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{235,289},{126,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{118,144}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,5}</string>
                <key>spriteSize</key>
                <string>{118,142}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{121,1},{118,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{114,142}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{121,145},{114,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{114,132}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{737,269},{114,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,2}</string>
                <key>spriteSize</key>
                <string>{116,132}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{717,135},{116,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1021,399},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{1151,399},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{112,130}</string>
                <key>spriteSourceSize</key>
                <string>{232,190}</string>
                <key>textureRect</key>
                <string>{{959,1},{112,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Role1.png</string>
            <key>size</key>
            <string>{1494,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6b64f4b209680b69b99c4b946b273e9:7878c692ad78d8efe40584ee21b71459:183082701fffbb6bcef342ba62f44148$</string>
            <key>textureFileName</key>
            <string>Role1.png</string>
        </dict>
    </dict>
</plist>
