<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,44}</string>
                <key>spriteSize</key>
                <string>{106,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{127,228},{106,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,45}</string>
                <key>spriteSize</key>
                <string>{104,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{303,120},{104,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{96,113}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{235,237},{96,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{96,111}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{217,352},{96,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,40}</string>
                <key>spriteSize</key>
                <string>{90,105}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{435,237},{90,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{112,79}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{407,457},{112,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,45}</string>
                <key>spriteSize</key>
                <string>{104,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{303,120},{104,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,44}</string>
                <key>spriteSize</key>
                <string>{90,113}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{315,352},{90,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,41}</string>
                <key>spriteSize</key>
                <string>{124,107}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,228},{124,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{112,68}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,41}</string>
                <key>spriteSize</key>
                <string>{100,109}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{333,237},{100,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,44}</string>
                <key>spriteSize</key>
                <string>{108,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{415,1},{108,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,45}</string>
                <key>spriteSize</key>
                <string>{110,117}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{303,1},{110,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,45}</string>
                <key>spriteSize</key>
                <string>{108,117}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,337},{108,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,45}</string>
                <key>spriteSize</key>
                <string>{110,117}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{303,1},{110,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,44}</string>
                <key>spriteSize</key>
                <string>{108,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{415,1},{108,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,45}</string>
                <key>spriteSize</key>
                <string>{104,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{111,345},{104,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,44}</string>
                <key>spriteSize</key>
                <string>{102,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{409,120},{102,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,49}</string>
                <key>spriteSize</key>
                <string>{92,107}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{407,348},{92,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1001.png</string>
            <key>size</key>
            <string>{526,537}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9a57633573f1ec56db3849e7caa115f:afaa718240124b7f0281c9c108913fc5:90d709d121983a5508ba3f2396d30f68$</string>
            <key>textureFileName</key>
            <string>1001.png</string>
        </dict>
    </dict>
</plist>
