<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,52}</string>
                <key>spriteSize</key>
                <string>{114,127}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{265,128},{114,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,52}</string>
                <key>spriteSize</key>
                <string>{114,127}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{265,128},{114,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,52}</string>
                <key>spriteSize</key>
                <string>{112,125}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{381,243},{112,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,46}</string>
                <key>spriteSize</key>
                <string>{94,123}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{465,370},{94,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,40}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{149,464},{110,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{146,73}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,464},{146,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,52}</string>
                <key>spriteSize</key>
                <string>{114,127}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{265,128},{114,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,45}</string>
                <key>spriteSize</key>
                <string>{144,121}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,206},{144,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,53}</string>
                <key>spriteSize</key>
                <string>{86,139}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{377,370},{86,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,46}</string>
                <key>spriteSize</key>
                <string>{128,113}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{389,1},{128,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,77}</string>
                <key>spriteSize</key>
                <string>{262,203}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,1},{262,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,53}</string>
                <key>spriteSize</key>
                <string>{114,127}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{125,335},{114,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,51}</string>
                <key>spriteSize</key>
                <string>{122,131}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,329},{122,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,54}</string>
                <key>spriteSize</key>
                <string>{114,127}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{147,206},{114,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,53}</string>
                <key>spriteSize</key>
                <string>{114,125}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{389,116},{114,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,54}</string>
                <key>spriteSize</key>
                <string>{114,127}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{147,206},{114,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,53}</string>
                <key>spriteSize</key>
                <string>{114,127}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{125,335},{114,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,54}</string>
                <key>spriteSize</key>
                <string>{112,127}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{263,257},{112,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,56}</string>
                <key>spriteSize</key>
                <string>{102,123}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{273,386},{102,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,54}</string>
                <key>spriteSize</key>
                <string>{122,125}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{265,1},{122,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1003.png</string>
            <key>size</key>
            <string>{560,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f837235870f7a97c50ef7359def7545:43362de8727f521c696dd681e5f80b05:f561e8c9104dea65be52a96ae9b8ec0b$</string>
            <key>textureFileName</key>
            <string>1003.png</string>
        </dict>
    </dict>
</plist>
