<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{88,117}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,348},{88,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,824},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,45}</string>
                <key>spriteSize</key>
                <string>{84,113}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,1373},{84,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,45}</string>
                <key>spriteSize</key>
                <string>{84,113}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,1258},{84,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,42}</string>
                <key>spriteSize</key>
                <string>{128,103}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{124,77}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,1179},{124,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,824},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,49}</string>
                <key>spriteSize</key>
                <string>{98,121}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,106},{98,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,47}</string>
                <key>spriteSize</key>
                <string>{92,117}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,229},{92,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{86,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,1062},{86,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,707},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{88,117}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,588},{88,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,707},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{86,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,1062},{86,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,824},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,45}</string>
                <key>spriteSize</key>
                <string>{86,119}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,467},{86,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,43}</string>
                <key>spriteSize</key>
                <string>{82,119}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,941},{82,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1010.png</string>
            <key>size</key>
            <string>{130,1487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f629d622950fd0a806d1fb9a1bfe5c61:ed3655698edcded6fcf68b59f3f4af67:d05c3a0cee7aa7a19649cfd92648f8f3$</string>
            <key>textureFileName</key>
            <string>1010.png</string>
        </dict>
    </dict>
</plist>
