<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,48}</string>
                <key>spriteSize</key>
                <string>{86,129}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{171,244},{86,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,49}</string>
                <key>spriteSize</key>
                <string>{86,129}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,466},{86,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,46}</string>
                <key>spriteSize</key>
                <string>{92,113}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{321,483},{92,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,44}</string>
                <key>spriteSize</key>
                <string>{96,109}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{349,227},{96,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,41}</string>
                <key>spriteSize</key>
                <string>{122,99}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{255,1},{122,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{140,65}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{179,504},{140,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,48}</string>
                <key>spriteSize</key>
                <string>{86,127}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{179,375},{86,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,50}</string>
                <key>spriteSize</key>
                <string>{96,123}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{255,102},{96,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,45}</string>
                <key>spriteSize</key>
                <string>{110,113}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,351},{110,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,40}</string>
                <key>spriteSize</key>
                <string>{168,105}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,244},{168,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,55}</string>
                <key>spriteSize</key>
                <string>{252,241}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,49}</string>
                <key>spriteSize</key>
                <string>{88,127}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{259,227},{88,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,49}</string>
                <key>spriteSize</key>
                <string>{88,125}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{89,466},{88,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,50}</string>
                <key>spriteSize</key>
                <string>{82,125}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{267,356},{82,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,49}</string>
                <key>spriteSize</key>
                <string>{88,125}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{89,466},{88,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,49}</string>
                <key>spriteSize</key>
                <string>{88,127}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{259,227},{88,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,49}</string>
                <key>spriteSize</key>
                <string>{86,129}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,466},{86,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,54}</string>
                <key>spriteSize</key>
                <string>{78,115}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{353,110},{78,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,50}</string>
                <key>spriteSize</key>
                <string>{78,123}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{351,338},{78,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1014.png</string>
            <key>size</key>
            <string>{446,597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caea0eec3f6603c0a8b1d7bbbf52a0e2:644907712f757e91e2472b4f1db4ae1b:c13d1a93c58332ccb58d5b14cd92d9ae$</string>
            <key>textureFileName</key>
            <string>1014.png</string>
        </dict>
    </dict>
</plist>
