<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,38}</string>
                <key>spriteSize</key>
                <string>{132,99}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{141,106},{132,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,37}</string>
                <key>spriteSize</key>
                <string>{130,97}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{137,415},{130,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,38}</string>
                <key>spriteSize</key>
                <string>{132,99}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,429},{132,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,47}</string>
                <key>spriteSize</key>
                <string>{122,105}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{139,308},{122,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,53}</string>
                <key>spriteSize</key>
                <string>{108,117}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{267,514},{108,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{128,67}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{5,642},{128,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,37}</string>
                <key>spriteSize</key>
                <string>{130,97}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{135,613},{130,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,54}</string>
                <key>spriteSize</key>
                <string>{138,117}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,106},{138,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,46}</string>
                <key>spriteSize</key>
                <string>{172,103}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,34}</string>
                <key>spriteSize</key>
                <string>{170,91}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{175,1},{170,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,37}</string>
                <key>spriteSize</key>
                <string>{130,97}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{135,712},{130,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,38}</string>
                <key>spriteSize</key>
                <string>{130,99}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{141,207},{130,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{132,99}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,530},{132,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{134,99}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,328},{134,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{132,99}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,530},{132,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,38}</string>
                <key>spriteSize</key>
                <string>{130,99}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{141,207},{130,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{130,97}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{135,514},{130,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{132,95}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,711},{132,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,36}</string>
                <key>spriteSize</key>
                <string>{136,101}</string>
                <key>spriteSourceSize</key>
                <string>{636,415}</string>
                <key>textureRect</key>
                <string>{{1,225},{136,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1027.png</string>
            <key>size</key>
            <string>{376,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1805715c5156a95cb13fd7bf16f9e663:a3ec2ec73e0ff09a4034a7dd35fda5e1:0eb31ab2559040bf1c90ece222ae2d49$</string>
            <key>textureFileName</key>
            <string>1027.png</string>
        </dict>
    </dict>
</plist>
